name: pytest

on:
  push:
    branches: [ main ]
    paths:
      - morphct/**
      - environment.yml
      - .github/workflows/pytest.yml
  pull_request:
    branches: [ main ]
    paths:
      - morphct/**
      - environment.yml
      - .github/workflows/pytest.yml

  workflow_dispatch:

jobs:
  pytest:
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.7']

    runs-on: ${{ matrix.os }}

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Build environment
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: environment.yml
        create-args: >-
          python=${{ matrix.python-version }}

    - name: Install package
      shell: bash -l {0}
      run: python -m build && pip install dist/*.whl

    - name: Run pytest with coverage report
      shell: bash -l {0}
      run: python -m pytest -rs -v --cov=./ --cov-report=xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
